JAHIA_VERSION=${JAHIA_VERSION:-LATEST}
JAHIA_IMAGE=${JAHIA_IMAGE:-jahia/jahia-ee-dev:8-SNAPSHOT}
TESTS_IMAGE=${TESTS_IMAGE:-jahia/graphql-dxm-provider:latest}
MODULE_ID=${MODULE_ID:-graphql-dxm-provider}
MANIFEST=${MANIFEST:-provisioning-manifest-snapshot.yml}
JAHIA_URL=${JAHIA_URL:-http://localhost:8080}
SUPER_USER_PASSWORD=${SUPER_USER_PASSWORD:-root1234}
NEXUS_USERNAME=${NEXUS_USERNAME:-NEXUS_USERNAME}
NEXUS_PASSWORD=${NEXUS_PASSWORD:-NEXUS_PASSWORD}
JAHIA_LICENSE=${JAHIA_LICENSE:-""}
LDAP_TAG=${LDAP_TAG:-1.0.0}
JAHIA_HOST=${JAHIA_HOST:-jahia}
JAHIA_PORT_KARAF=${JAHIA_PORT_KARAF:-8101}
JAHIA_USERNAME=${JAHIA_USERNAME:-root}
JAHIA_PASSWORD=${JAHIA_PASSWORD:-root1234}
JAHIA_USERNAME_TOOLS=${JAHIA_USERNAME_TOOLS:-root}
JAHIA_PASSWORD_TOOLS=${JAHIA_PASSWORD_TOOLS:-root1234}
