MANIFEST=warmup-manifest-release.yml
TESTS_IMAGE=jahia/graphql-core:latest
JAHIA_IMAGE=jahia/jahia-dev:8.0.1.0
JAHIA_URL=http://jahia:8080/
JAHIA_HOST=jahia
JAHIA_PORT=8080
JAHIA_CONTEXT=
JAHIA_USERNAME=root
JAHIA_PASSWORD=root
NEXUS_USERNAME=NEXUS_USERNAME
NEXUS_PASSWORD=NEXUS_PASSWORD
NEXUS_INTERNAL_URL=NEXUS_INTERNAL_URL
