div.status-container {
    border:1px solid rgba(0, 45, 18, 0.22);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
}

div.status-row {
    margin:3px;
    width:100%;
    padding: 5px 20px;
}

div.status-header {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    width:100%;
    border-bottom: 1px solid rgba(0, 45, 18, 0.22);;
}

div.status-header-item {
    margin:5px;
    padding: 5px 20px;
    flex-wrap:wrap;
    display: inline-block;
}

div.status-item {
    padding-right:55px;
    flex-wrap:wrap;
    display: inline-block;
}

div.status-icon {
    margin-left:25px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

div.status-icon.success {
    background-color: #00b500;
}

div.status-icon.error {
    background-color: #ff4704;
}